/* Стили для преподавателей*/

@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,600&display=swap');

body{
    background: url(img/unsplash3.png) 100%;
    font-family: 'Literata', serif;
    color: rgb(48, 43, 43);
}
#contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.zagolovok{
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 0.2em;
    margin: 0.5em auto 0;
}
#text{
    display: flex;
    width: 75%;
}
#about_calculate{
    text-align: justify;
    letter-spacing: 0.05em;
}
#zadan{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.8em; 
    margin: 0 auto;
}
.integ{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.num_name{
    display: flex;
}
.opisanie{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 5em;
    align-items: center;
    justify-content: space-around;
}
.examples{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
.slozn{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
.kolvo{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
hr{
    margin: 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #333;
}
#d_full,#e_full,#f_full,#i_full,#j_full, #k_full{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

#ch_a,#ch_b,#ch_c,
#ch_d,#ch_e,#ch_f,
#ch_g,#ch_h,#ch_i,
#ch_j,#ch_k,#ch_l,
#ch_m,#ch_n,#ch_o,
#ch_p,#ch_q,#ch_r,
#ch_s,#ch_t,#ch_u,
#ch_v,#ch_w,#ch_x,
#ch_y,#ch_z,#ch_aa,
#ch_bb,#ch_cc,#ch_dd,
#ch_ee,#ch_ff,#ch_gg,
#ch_hh,#ch_ii,#ch_jj,
#ch_kk,#ch_ll,#ch_mm,
#ch_nn,#ch_oo,#ch_pp,
#ch_qq,#ch_rr,#ch_ss6{
    width: 16px;
    height: 16px;
}
#btnPr{
    border: none;
    width: 15%;
    border-radius: 0.3em;
    padding: .75rem 1rem;
    font-size: 1em;
    background: rgba(48, 43, 43, 0.5);
    color: rgb(247, 241, 235);
    letter-spacing: 0.09em;
}
#btnPr:hover{
    background-color: rgb(189, 66, 66);
    cursor: pointer;
}
#shifr_p{
    display: none;
    font-size: 20px;
}
#shifr{
    text-align: center;
    padding: 5em;
    font-size: 22px;
    text-decoration: underline;
}
/* Стили для преподавателей*/