.header {
    display: flex;
    justify-content: center;
    padding: var(--indent-size-s);
    align-items: center;
    border-bottom: 1px solid gray;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 355px) {
    .btn {
        display: none;
    }
}
