@import 'app/design/mixins';

.wrapper {
  padding: var(--indent-size-s);
  display: grid;
  grid-template-areas: 'qr info'
                        'qr links';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr;
  gap: 1rem;
  justify-items: center;
}

.qr {
  grid-area: qr;
  width: 75%;
}

.info {
  grid-area: info;
}

.desc {
  @include text();
  margin-bottom: var(--indent-size-m);
}

.subtitle {
  @include subtitle();
  margin-bottom: var(--indent-size-s);
}

.list {
  @include text();
}

.links {
  align-self: flex-start;
  grid-area: links;
  display: flex;
  flex-direction: column;

  a {
    margin-bottom: var(--indent-size-s);
  }
}


@media (max-width: 1200px) {
  .wrapper {
    grid-template-areas: 'qr'
                        'info'
                        'links';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
  }
}

@media (max-width: 900px) {
  .qr {
    display: none;
  }

  .wrapper {
    grid-template-areas: 'info'
                          'links';
    grid-template-rows: auto auto;
  }
}