.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  background-color: #ffffff;

  &__container {
    display: flex;
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    max-width: 700px;
    width: 100%;
  }

  &__left,
  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__left {
    padding-right: 40px;
    border-right: 1px solid #ccc;
  }

  &__right {
    padding-left: 40px;
    align-items: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 32px;
    text-align: center;
  }

  &__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  &__button {
    padding: 10px 20px;
    background-color: #3b5bbb;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: #2a4694;
    }
  }

  &__registerButton {
    background-color: #d32f2f;
    color: #fff;
    border: none;
    padding: 10px 24px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: #b71c1c;
    }
  }
}
