@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,600&display=swap');

body{
    background: url(img/unsplash3.png) 100%;
    font-family: 'Literata', serif;
    color: rgb(48, 43, 43);
}
#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

/* Стили для студентов*/
#sect1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.2em;
    margin-top: 1em;
}
.zagolovok{
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 0.2em;
    margin: 0;
}
#form{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4em;
}
#textform{
    font-size: 1.2em;
    letter-spacing: 0.1em;
}
#hash, #shifr{
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(220, 220, 220,0);
    padding: .55rem 1rem;
    font-size: 1.05em;
    letter-spacing: 0.09em;
    color: rgb(48, 43, 43);
}
#btn1{
    border: none;
    width: 15%;
    border-radius: 0.3em;
    padding: .75rem 1rem;
    font-size: 1em;
    background: rgba(48, 43, 43, 0.5);
    color: rgb(247, 241, 235);
    letter-spacing: 0.09em;
}
#hash:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
#hash::placeholder {
    color: rgb(48, 43, 43);
    opacity: 0.5;
}
#btn1:hover{
    background-color: rgb(189, 66, 66);
    cursor: pointer;
}
.listItem{
    list-style-type: none;
    margin: 1.2em;
}
.katex{
    font-size: 1.5em;
}
#hh{
    display: none;
}
/* Стили для студентов*/


